<div>
  <h1>Hi <%= token.name %> ,</h1>
  <br />
  <br />
  <p>Click on reset password</p>
  <br />
  <a
    href="http://127.0.0.1:8000/forget-password/save-password/<%=token.access_token%>"
    >Reset Password</a
  >
  <br />
  <p style="color: aquamarine;">Thank you</p>
  <br />
  <p style="color: darkorange;">Team JAIVIK JAAYAKA</p>
</div>
