<form action="/product/create-product" enctype="multipart/form-data" method="POST">
    <label for="product_name">Product-Name :</label>
    <br>
    <input type="text" name="product_name" id="product_name" placeholder="Product Name" required>
    <br>
    <label for="category">Category:</label>
    <select name="category" id="category" required>
    <option value="Vegetable">Vegetable</option>
    <option value="Fruit">Fruit</option>
    </select>
    <br>
    <label for="price">Price :</label>
    <br>
    <input type="number" name="price" id="price" placeholder="Price" step="any" required>
    <br>
    <label for="discount">Discount Percent :</label>
    <br>
    <input type="number" name="discount" id="discount" placeholder="Discount Percent" required>
    <br>
    <label for="sold_by">Sold By :</label>
    <br>
    <input type="text" name="sold_by" id="sold_by" placeholder="Sold By">
    <br>
    <label for="stock_quantity">Stock Quantity in Grams :</label>
    <br>
    <input type="number" name="stock_quantity" id="stock_quantity" placeholder="Stock Quantity in Grams" required>
    <br>
    <label for="product_image">Product Image :</label>
    <br>
    <input type="file" name="product_image" id="product_image" placeholder="Product Image" required>
    <br>
    <input type="submit" value="Add Product">
    <br>
</form>
    