<link rel="stylesheet" href="css/home.css">
<section class="container-fluid col-sm-11 col-xs-12" id="product-section">
    <div class="container-fluid mt-2">
        <div>
            <h1>Fruit</h1>
        </div>
        <div class="container-fluid mt-2">
            <div class="row">
                <% for(var i=0;i<10;i++) { %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                    <div class="card">
                        <img class="cart-image" src="images/dheeraj.jpg" alt="Dheeraj">
                        <div class="card-body">
                            <h5>white Top</h5>
                            <div style="display: flex;">
                                <h5>RS 500</h5>
                                <h6 style="text-decoration:line-through">10%</h6>
                            </div>
                            <form action="">
                                <label for="cars">Quantity</label>
                                <select name="quantity" id="quantity">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                                <input type="hidden" id="product-id" data-value="12345">
                                <input class="btn btn-warning cart-button" type="submit" value="Add to Cart">
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</section>