<html>
    <head>
        <title>
            Home | Jaivik Jaayaka
        </title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <h1>Jaivik Jaayaka | Home</h1>
    </body>
</html>