<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Free Web tutorials" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="John Doe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0px;
        height: 100vh;
        display: flex;
        background: aquamarine;
        justify-content: center;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .heading {
        font-size: 2.3rem;
        font-weight: bolder;
        color: darkslateblue;
        padding: 5% 0% 5% 0%;
      }
      .sub-heading {
        text-align: center;
        font-size: 1.2rem;
        padding: 5% 0% 11% 0%;
        color: #9a4f00;
      }

      .img-container {
        border-radius: 20px;
        width: 350px;
        height: 200px;
        overflow: hidden;
        box-shadow: 0px 0px 2px 2px grey;
      }

      .img-container img {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="heading">Welcome to Jevik Zayka</div>
      <div class="sub-heading">
        We are under development and will be back soon
        <div>Contact Us Now at</div>
      </div>
      <div class="img-container"><img src="img.jpeg" alt="img" /></div>
    </div>
  </body>
</html>
