<form action="/reset-password/save-password/<%= token %>" method="POST">
    <label for="new_password">New Password :</label>
    <br>
    <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
    <br>
    <label for="confirm_password">Confirm Password :</label>
    <br>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
    <br>
    <input type="submit" value="Update">
    <br>
</form>