<link rel="stylesheet" href="css/sign-in.css">
<div class="container-fluid sign-in-container">
    <div class="row">
        <div class="col-md-6 col-lg-4 m-auto sign-in-form">
            <div class="form-heading">Sign in </div>
            <form action="/users/create-session" class="m-0" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="input-heading">Email address</label>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="input-heading">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>
                <div class="text-center"><input type="submit" class="btn btn-warning" value="Login"></div>
              </form>
              <div id="reset-button"><a class="input-heading" href="/reset-password">Reset Password ?</a></div>
        </div>
    </div>
</div>