// navbar container
.navbar-container
{
    position: fixed;
    width: 100%;
    background-color: aquamarine;
    background-image: linear-gradient(to right, #03fca5 , #03fc52, #e7f567);
    z-index: 10;
}

//main heading font-size
.navbar-brand
{
    font-size: 2rem;
}

// main heading of page
#main-heading
{
    color: navy;
    font-weight: 700;
}

// dropdown icon color when they are clicked
.dropdown-item:active
{
    color: black;
    background-color: #34faa4 ;
}

// navbar item color and size
.nav-item-text
{
    color: #004b21!important;
    font-size: 1.2rem;
    font-weight: 600;
}

//navbar toggler icon
.navbar-dark .navbar-toggler-icon {
    background-color: #55dd305e;
    border-radius: 9px;
}

// toggler button when focused
button:focus
{
    outline: none;
}

.blank-space
{
    height: 74px;
}