.sign-in-container
{
    background-image: url(../images//sign-in-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .form-control
    {
        color: #133352;;
    }

    .btn
    {
        background-image:linear-gradient(to right, #eefb09 , #f9b24a, #feab36);
        width: 80%;
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        color: navy;
    }
}

#reset-button
{
    text-align: center;
    padding: 1%;
    a
    {
        width: 60%;
        font-size: 1rem;
    }
    a:hover
    {
        color: #ffffff;
    }
}

.row
{
    height: 90%;
}

.sign-in-form
{
    background: #0101017d;
    border-radius: 20px;
    padding-bottom: 1.5%;
}

input
{
    background: transparent;
}

.form-heading
{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #e2ffe7;
    font-family: cursive;
}

.input-heading
{
    color: #c2ffd1;
    font-size: 1.4rem;
}