.sign-in-container
{
    background-image: url(../images//sign-in-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .form-control
    {
        color: #133352;;
    }
}

.row
{
    height: 90%;
}

.sign-in-form
{
    background: #24a74470;
    border-radius: 20px;
}

input
{
    background: transparent;
}

.form-heading
{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #e2ffe7;
    font-family: cursive;
}

.input-heading
{
    color: #c2ffd1;
    font-size: 1.4rem;
}