<div>
  <h1>Hi <%= token.user.name %> ,</h1>
  <br />
  <br />
  <p>Click on Verify Email</p>
  <br />
  <a href="http://127.0.0.1:3000/verifyemail/<%=token.access_token%>"
    >Verify Email</a
  >
  <br />
  <p style="color: aquamarine;">Thank you</p>
  <br />
  <p style="color: darkorange;">Team JAIVIK JAAYAKA</p>
</div>
